pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
imbalanced-learn==0.12.3
tensorflow-cpu==2.16.2
shap==0.46.0
streamlit==1.37.1
matplotlib==3.9.1
seaborn==0.13.2
plotly==5.23.0
joblib==1.4.2
jupyter==1.0.0
notebook==7.2.1
ipykernel==6.29.5
